* {
box-sizing: border-box;
background-color: antiquewhite;
}

body {
font-family: sans-serif;
}
  
.container {
display: flex;
flex-direction: row;  /*  Default  */
flex-direction: row-reverse;
flex-direction: column;
flex-direction: column-reverse;


margin: 0 auto;
max-width: 960px;
height: 960px;
background-color: rgb(240, 139, 112);
}
  
.item {
text-align: center;
padding-top: 36px;
width: 100px;
height: 100px;
background-color: rgb(215, 145, 39);
border: 2px solid rgb(74, 27, 5);
}