*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;

    align-content: normal; /* valor default */
    align-content: start;/* Lleva las lineas al cross-start */
    align-content: flex-end; /* lleva las lineas al cross-end */
    align-content: center; /* lleva todas las lineas al centro del cross-center */
    align-content: space-around; /* distribuye el mismo espacio arriba y abjao entre los elementos */
    align-content: space-between; /* distribuye el espacio entre lineas sin considerar los bordes */
    align-content: space-evenly; /* distribuye los elementos sproporcionalmente entre las lineas incluyendo los bordes */
    align-content: stretch; /* estira los items en este espacio disponible, los items deben ener un alto definido */

    width: 500px;
    height: 100px;
    background-color: chartreuse;
}

.item { 
width: 150px;
/* height: 100px; */
background-color: chocolate;
text-align: center;
border: 1px solid lightgreen;
}